<h1><%= @professional.name %></h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>

  <tbody>
    <% @professional.working_hours.each do |working_hour| %>
      <tr>
        <td><%= working_hour.day %></td>
        <td><%= working_hour.start_time.strftime('%H:%M') %></td>
        <td><%= working_hour.end_time.strftime('%H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_professional_path(@professional) %> |
<%= link_to 'Back', professionals_path %>
